.vertical-progress-stepper {
  max-width: 400px;
  margin: 0 auto;
  list-style-type: none;
  /* counter-reset: none; */
  margin: 0;
}

.vertical-progress-stepper li {
  padding: 0 0 20px 50px;
  position: relative;
  margin: 0;
}

.vertical-progress-stepper li:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  /* counter-increment: none; */
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border: 1px solid var(--blue);
  background: var(--blue);
}

.vertical-progress-stepper li:before {
  position: absolute;
  left: 10.4px;
  top: 0;
  content: "";
  height: 100%;
  width: 0;
  border: 2px solid var(--blue);
}

.vertical-progress-stepper li:nth-child(1):after {
  border: 2px dashed var(--blue);
  background: var(--white);
}

/* remove trailing connector after the last item */
.vertical-progress-stepper li:last-child:before {
  height: 0;
  border: none;
}